#box{
    display: grid;
    background-color: rgb(191, 197, 197);
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap:20px 10px;
    text-align: center;
}
#box >div{
    background-color:rgb(18, 139, 100);
    border: 1px solid rgb(12, 222, 68);
    padding: 10px;
}
#item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3;
}
img{
    height:100%;
    width:100%;

}